In [1]:
import pandas as pd

In [49]:
base = pd.read_csv('Base.csv')
base.head(5)

,fraud_bool,income,name_email_similarity,prev_address_months_count,current_address_months_count,customer_age,days_since_request,intended_balcon_amount,payment_type,zip_count_4w,...,has_other_cards,proposed_credit_limit,foreign_request,source,session_length_in_minutes,device_os,keep_alive_session,device_distinct_emails_8w,device_fraud_count,month
0,1,0.9,0.166828,-1,88,50,0.020925,-1.331345,AA,769,...,0,500.0,0,INTERNET,3.888115,windows,0,1,0,7
1,1,0.9,0.296286,-1,144,50,0.005418,-0.816224,AB,366,...,0,1500.0,0,INTERNET,31.798819,windows,0,1,0,7
2,1,0.9,0.044985,-1,132,40,3.108549,-0.755728,AC,870,...,0,200.0,0,INTERNET,4.728705,other,0,1,0,7
3,1,0.9,0.159511,-1,22,50,0.019079,-1.205124,AB,810,...,1,200.0,0,INTERNET,2.047904,linux,0,1,0,7
4,1,0.9,0.596414,-1,218,50,0.004441,-0.773276,AB,890,...,0,1500.0,0,INTERNET,3.775225,macintosh,1,1,0,7

In [50]:
base.fraud_bool.value_counts()

0    988971
1     11029
Name: fraud_bool, dtype: int64

In [51]:
# v1 =  pd.read_csv('Variant I.csv')
# v1.head()

In [52]:
# v1.fraud_bool.value_counts()

In [53]:
# v2 = pd.read_csv("Variant II.csv")
# v2.head()

In [54]:
# v2.fraud_bool.value_counts()

In [55]:
# v3 = pd.read_csv("Variant III.csv")
# v3.head()

In [56]:
# v3.fraud_bool.value_counts()

In [57]:
# v4 = pd.read_csv("Variant IV.csv")
# v4.head()

In [58]:
# v4.fraud_bool.value_counts()

In [59]:
# v5 = pd.read_csv("Variant V.csv")
# v5.head()

In [60]:
# v5.fraud_bool.value_counts()

In [61]:
# print(f"""
#     base : {base.shape},
#       v1 : {v1.shape},
#       v2 : {v2.shape},
#       v3 : {v3.shape},
#       v4 : {v4.shape},
#       v5 : {v5.shape}
#       """)

In [62]:
# import pandas_profiling
# from ydata_profiling import ProfileReport

In [63]:
# profile = ProfileReport(base, title="Pandas Profiling Report")

In [64]:
# profile.to_widgets()

In [65]:
# profile.to_notebook_iframe()

In [66]:
base.fraud_bool.value_counts()

0    988971
1     11029
Name: fraud_bool, dtype: int64

In [68]:
fraud_sample = base[base.fraud_bool == 1].sample(n = 10_000)

non_fraud_sample = base[base.fraud_bool == 0].sample(n = 10_000)

selected_sample = pd.concat([fraud_sample, non_fraud_sample])

selected_sample = selected_sample.reset_index(drop=True)

In [71]:
selected_sample.fraud_bool.value_counts()

1    10000
0    10000
Name: fraud_bool, dtype: int64

In [73]:
from pycaret.classification import setup, compare_models, pull, save_model
target = selected_sample.fraud_bool
setup(selected_sample, target= target)

In [74]:
setup_df = pull()

In [75]:
setup_df

                    Description             Value
0                    Session id              8735
1                        Target      fraud_bool_y
2                   Target type            Binary
3           Original data shape       (20000, 33)
4        Transformed data shape       (20000, 53)
5   Transformed train set shape       (14000, 53)
6    Transformed test set shape        (6000, 53)
7              Ordinal features                 1
8              Numeric features                27
9          Categorical features                 5
10                   Preprocess              True
11              Imputation type            simple
12           Numeric imputation              mean
13       Categorical imputation              mode
14     Maximum one-hot encoding                25
15              Encoding method              None
16               Fold Generator   StratifiedKFold
17                  Fold Number                10
18                     CPU Jobs                -1
19                      Use GPU             False
20               Log Experiment             False
21              Experiment Name  clf-default-name
22                          USI              2504

In [76]:
best_model = compare_models()
compare_df = pull()

In [77]:
compare_df

,Model,Accuracy,AUC,Recall,Prec.,F1,Kappa,MCC,TT (Sec)
nb,Naive Bayes,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.093
dt,Decision Tree Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.094
ridge,Ridge Classifier,1.0000,0.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.086
rf,Random Forest Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.392
ada,Ada Boost Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.087
gbc,Gradient Boosting Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.644
et,Extra Trees Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.294
xgboost,Extreme Gradient Boosting,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.298
lightgbm,Light Gradient Boosting Machine,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,0.146
catboost,CatBoost Classifier,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,1.0000,6.422
qda,Quadratic Discriminant Analysis,0.9999,0.9999,1.0000,0.9997,0.9999,0.9997,0.9997,0.096
lr,Logistic Regression,0.8110,0.8887,0.7890,0.8253,0.8067,0.6220,0.6227,0.941
lda,Linear Discriminant Analysis,0.7973,0.8741,0.7839,0.8057,0.7945,0.5946,0.5949,0.115
knn,K Neighbors Classifier,0.5800,0.6030,0.5634,0.5828,0.5727,0.1600,0.1602,0.149
svm,SVM - Linear Kernel,0.5636,0.0000,0.5787,0.6855,0.4744,0.1271,0.1865,0.266
dummy,Dummy Classifier,0.5000,0.5000,0.0000,0.0000,0.0000,0.0000,0.0000,0.079

In [79]:
save_model(best_model, 'best_model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=FastMemory(location=/tmp/joblib),
          steps=[('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['fraud_bool_x', 'income',
                                              'name_email_similarity',
                                              'prev_address_months_count',
                                              'current_address_months_count',
                                              'customer_age',
                                              'days_since_request',
                                              'intended_balcon_amount',
                                              'zip_count_4w', 'velocity_6h',
                                              'velocity_24h', 'velocity_4w',
                                              'bank_...
                                     include=['payment_type',
                                              'employment_status',
                                              'housing_status', 'device_os'],
                                     transformer=OneHotEncoder(cols=['payment_type',
                                                                     'employment_status',
                                                                     'housing_status',
                                                                     'device_os'],
                                                               drop_invariant=False,
                                                               handle_missing='return_nan',
                                                               handle_unknown='value',
                                                               return_df=True,
                                                               use_cat_names=True,
                                                               verbose=0))),
                 ('trained_model',
                  GaussianNB(priors=None, var_smoothing=1e-09))],
          verbose=False),
 'best_model.pkl')

In [84]:
# best_model.predict(setup_df)